<div id="menu">
	<ul id="menu-list">
		<li><a href="#">Menu Item 1</a></li>
		<li><a href="#">Menu Item 2</a></li>
		<li><a href="#">Menu Item 3</a></li>
	</ul>
	<%= image_tag 'https://s3.amazonaws.com/codecademy-content/projects/z2d/stories/close-white.svg', alt: "Close Menu", id: "close-button"  %>
</div>