<div class="header" id="about">
	<div class="container">
		<div class="content">
			<h1 class="white-text mx-auto">Relive your favorite memories</h1>
		</div>
	</div>
</div>
<section class="supporting">
	<div class="container">
		<h2>No more sorting through photos</h2>
		<p>Stories automatically finds your best photos and creates a new travelogue. This way you can capture and share your special moments in fresh new ways.</p>
		<%= link_to 'Sign up', new_signup_path, class: "btn btn-primary", role: "button" %>
	</div>
</section>