<main>
	<div class="header" id="home">
		<div class="container">
			<div class="row">
				<div class="content col-md-6 offset-md-6">
					<h1 class="white-text mx-auto">Photostories</h1>
					<h3 class="white-text mx-auto">Create and share your stories</h3>
					<%= link_to "Learn more", about_path, class: "btn btn-primary mx-auto", role: "button" %>
				</div>
			</div>
		</div>
	</div>
	<section class="supporting">
		<div class="container">
			<h2>Relive and share your adventures</h2>
			<p>Photostories automatically creates a digital journal filled with only your best photos.</p>
		</div>
	</section>
	<section class="secondary">
	</section>
	<section class="discover">
		<div class="container">
			<h2 class="content">Discover Photostories</h2>
			<%= link_to "Learn more", about_path, class: "btn btn-primary mx-auto", role: "button" %>
		</div>
	</section>
</main>
