<main>
	<div class="header">
		<div class="container">
			<div class="row">
				<div class="content col-md-6 offset-md-6">
					<h1 class="text-white mx-auto">Photostories</h1>
					<h3 class="text-white mx-auto">Create and share your stories</h3>
					<a class="btn btn-primary mx-auto" href="#" role="button">Learn more</a>
				</div>
			</div>
		</div>
	</div>
	<section class="supporting">
		<div class="container">
			<h2>Relive and share your adventures</h2>
			<p>Photostories automatically creates a digital journal filled with only your best photos.</p>
		</div>
	</section>
	<section class="secondary">
	</section>
	<section class="discover">
		<div class="container">
			<h2 class="content">Discover Photostories</h2>
			<a class="btn btn-primary" href="#" role="button">Learn more</a>
		</div>
	</section>
</main>
<footer>
	<div class="container">
		<p class="mx-auto"></p>
</footer>